<h2>Your Posts</h2>

<button type="submit" class="btn new-post-button"><a class="link" href="/dashboard/new">Add Post</a></button>
<section>
{{#if posts.length}}

  
    {{#each posts as |post|}}
      <div class="container row">
    <div class="card-header dashboard-post">
       <h4 class="card-title post-title"><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <div class="card-body post-body">
        <p class="card-body post-content">{{content}}</p>
        <p class="card-text post-author">Posted by <span class="post-username">{{post.user.username}}</span> on {{format_date createdAt}}</p>
        </div>
    </div>
</div>
    {{/each}}


{{/if}}
</section>

{{!-- <script src="/js/add-post.js"></script> --}}